@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");



body{
    font-family: "Droid Serif", sans-serif;
    /* font-size: 200%; */
    margin: 0 auto;
    
}

/* table{
    width: 100%;
    margin: 0 auto;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

} */



.wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 300px 300px 300px;
    background-color: black;
    color: white;
}


.burgerTitle{
    font-weight: bold;
    font-size: 25px;
}

.burgerImage{
	width: 300px;
}

.burgerAllergies {
    /* color: #0000FF; */
    font-weight: bold;
}

.heading{
    margin-left: 10px;
    height: 200px;
    overflow: hidden;
}

#headingImage{
    opacity: 0.7;
    height: auto;
    width: 100%;
}

#headingWelcome{
    position: absolute;
    padding-left: 50px;
    padding-top: 50px;
    margin-top: -650px;
    margin-left: 50px;
}

#burgers{
    border: 2px dashed white;
    background-color: black;
    color: white;
    margin-left: 10px;
    padding-left: 10px;
}

#contact{
    border: 2px dashed black;
    padding-left: 10px;
    margin-left: 10px;
}

button{
    margin-left: 10px;
    margin-top: 10px;
}

button:hover{
    background-color: aqua;
    cursor:pointer;
}


.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}